<div class="text-center py-10">
  <h1 class="text-4xl font-bold text-gray-800">Welcome to Pilot Training Near Me</h1>
  <p class="mt-4 text-lg text-gray-600">Find flight schools near you!</p>
  <div class="mt-6">
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "text-blue-600 hover:text-blue-800 underline" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "text-blue-600 hover:text-blue-800 underline" %>
    <% end %>
    <br>
    <%= link_to "Sign Up", new_user_registration_path, class: "text-blue-600 hover:text-blue-800 underline" %>
  </div>
</div>